 @font-face {
        font-family: 'Y_Spotlight';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/Y_Spotlight.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        }
        td,th,tr{
        font-family: Y_Spotlight , serif;
        }