<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>App</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/request_rnp.css">
  </head>
  <body>
  <div class="container-fluid">

    <div class="row">
      <h1 class="col-12 text-center">Automation Test</h1>
      <div class="col-12 border rounded p-3">
        <div class="mb-3">
        <div class="row">
          <div class="input-group col-md-9 col-sm-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">TestCaseName</span>
            </div>
            <input type="text" id="textTestCaseName" class="form-control" placeholder="TestCaseName">
          </div>
          <div class="input-group col-md-3 col-sm-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Count</span>
            </div>
            <input type="number" id="stepCount" class="form-control" placeholder="StepCount" value="1" min="1">
          </div>
        </div>
      </div>
        <div class="text-center">
        <button id="btnRecord" class="btn btn-outline-primary ml-3">Record</button>
        <button id="btnPlayback" class="btn btn-outline-primary mr-3">Playback</button>
      </div>
      </div>

      <div class="col-lg-6 col-md-12 border rounded p-3">
        <h2>TestList</h2>
        <dl id="testlist" class="row">
          <dt class="col-9">TestCase Name</dt><dt class="col-3">Step Count</dt>
          {% for test, count in testlist.items() %}
          <dd class="col-9 testcase">{{ test }}</dd><dd class="col-3">{{ count }}</dd>
          {% endfor %}
        </dl>
      </div>
      <div class="col-lg-6 col-md-12 border rounded p-3">
        <h2>Automation Response</h2>
        <dl id="log" class="row">
          <dt class="col-7">Message</dt><dt class="col-5">Result</dt>
        </dl>
      </div>
    </div>

  </div>


    <script src="static/request_rnp.js"></script>
  </body>
</html>