<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>App</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        @font-face {
        font-family: 'Y_Spotlight';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/Y_Spotlight.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        }
        td,th{
        font-family: Y_Spotlight , serif;
        }
    </style>

  </head>
  <body>
  <div id="root"></div>
    <p>
    <h1>파일 선택</h1>
    <input type="file" id="csv_file" name="csv_file">
    <button id="file_btn" class="btn btn-outline-primary">등록</button>
    <button id="registered_btn" class="btn btn-outline-primary">등록된 프로젝트 보기</button>
    </p>

    <p>
    <h1>Project</h1>
    <select name="project" id="project">
      <option value="none">=== 선택 ===</option>
    </select>
    <button id="pt_btn" class="btn btn-outline-success">선택</button>
    </p>

    <p>
    <h1>TestProcedure</h1>
    <select name="testprocedure" id="testprocedure">
      <option value="none">=== 선택 ===</option>
    </select>
    <button id="tp_btn" class="btn btn-outline-warning">선택</button>
    </p>

    <p>
    <h1>TestCase</h1>
    <select name="testcase" id="testcase">
      <option value="none">=== 선택 ===</option>
    </select>
    <button id="tc_btn" class="btn btn-outline-dark">선택</button>
    </p>

    <p>
    <h1>TestStep</h1>
    <table class = "table table-bordered"  name="olist" id="olist">
      <button id="recording" class="btn btn-outline-dark recording">Recording</button>
    <button id="Test" class="btn btn-outline-dark">Test</button>
    </table>
    </p>

    <script>
      var pt_combo = document.getElementById("project");
      var tp_combo = document.getElementById("testprocedure");
      var tc_combo = document.getElementById("testcase");
      var pt_list;
      var tp_list;
      var tc_list;
      var ts_list;
      console.log("hihih");

      $('#registered_btn').click(function(){
      console.log("hihih");
        $('#project').children().nextAll().remove();
        $('#testprocedure').children().nextAll().remove();
        $('#testcase').children().nextAll().remove();
        $('#olist').children().remove();
        console.log("hihih");
        var postdata = {
          'success': "success"
        }
        $.ajax({
          type: 'POST',
          url: '{{url_for("registeredpost")}}',
          data: JSON.stringify(postdata),
          dataType : 'JSON',
          contentType: "application/json",
          success: function(data){
          console.log("dododo");
            pt_list = data.result2;
            for(var i=0; i<pt_list.length; i++){
              var op = new Option();
              op.value = pt_list[i]['PT_number'];
              op.text = pt_list[i]['PT_name'];
              pt_combo.add(op);
          }
          },
          error: function(request, status, error){
            alert(error);
          }
        })
      })

      $('#file_btn').click(function(){
        var sendingData = new FormData();
        sendingData.append('file',document.getElementById('csv_file').files[0]);
        $('#project').children().nextAll().remove();
        $('#testprocedure').children().nextAll().remove();
        $('#testcase').children().nextAll().remove();
        $('#olist').children().remove();
        $.ajax({
          type: 'POST',
          enctype: 'multipart/form-data',
          url: '{{url_for("filepost")}}',
          data: sendingData,
          contentType : false,
          processData : false,
          success: function(data){
            pt_list = data.result2;
            for(var i=0; i<pt_list.length; i++){
              var op = new Option();
              op.value = pt_list[i]['PT_number'];
              op.text = pt_list[i]['PT_name'];
              pt_combo.add(op);
          }
          },
          error: function(request, status, error){
            alert(error);
          }
        })
      })

      $('#pt_btn').click(function(){
        var selected_pt = $('#project').val();
        $('#testprocedure').children().nextAll().remove();
        $('#testcase').children().nextAll().remove();
        $('#olist').children().remove();
        var postdata = {
          'selected_pt':selected_pt
        }
        $.ajax({
          type: 'POST',
          url: '{{url_for("ptpost")}}',
          data: JSON.stringify(postdata),
          dataType : 'JSON',
          contentType: "application/json",
          success: function(data){
            tp_list = data.result2;
            for(var i=0; i<tp_list.length; i++){
              var op = new Option();
              op.value = tp_list[i]['TP_number'];
              op.text = tp_list[i]['TP_name'];
              tp_combo.add(op);
            }
            },
            error: function(request, status, error){
            alert(error);
            }
        })
      })

        $('#tp_btn').click(function(){
            var selected_tp = $('#testprocedure').val();
            $('#testcase').children().nextAll().remove();
            $('#olist').children().remove();
            var postdata = {
                'selected_tp':selected_tp
            }
            $.ajax({
                type: 'POST',
                url: '{{url_for("tppost")}}',
                data: JSON.stringify(postdata),
                dataType : 'JSON',
                contentType: "application/json",
                success: function(data){
                    tc_list = data.result2;
                    for(var i=0; i<tc_list.length; i++){
                      var op = new Option();
                      op.value = tc_list[i]['TC_number'];
                      op.text = tc_list[i]['TC_name'];
                      tc_combo.add(op);
                    }
                },
                error: function(request, status, error){
                    alert(error);
                }
            })
        })

        $('#tc_btn').click(function(){
            var selected_tc = $('#testcase').val();
            $('#olist').children().remove();
            var postdata = {
                'selected_tc':selected_tc
            }
            $.ajax({
                type: 'POST',
                url: '{{url_for("tcpost")}}',
                data: JSON.stringify(postdata),
                dataType : 'JSON',
                contentType: "application/json",
                success: function(data){
                    ts_list = data.result2;
                    for(var i=0; i<ts_list.length; i++){
                      const tr1 = $("<tr>").append($("<th>").text(i+1).attr('rowspan','2')).append($("<td>").text(ts_list[i]['TS_info']))
                      const tr2 = $("<tr>").append($("<td>").text("예상 결과 : "+ts_list[i]['ER_info']));
                      $('#olist').append(tr1).append(tr2);
                    }
                },
                error: function(request, status, error){
                    alert(error);
                }
            })
        })

        $(document).on("click", '.btn.btn-outline-dark.recording', function(){
        var selected_tc = $('#testcase option:selected').text();
        selected_tc=selected_tc.replace(/\s/gi, "");
            var postdata = {
                'selected_tc':selected_tc
            }
        $.ajax({
          type: 'POST',
          url: '{{url_for("recording")}}',
          data: JSON.stringify(postdata),
          dataType : 'JSON',
          contentType: "application/json",
          success: function(data){
                },
                error: function(request, status, error){
                    alert(error);
                }
            })
        })



        $('#Test').click(function(){
        var step_num=$('.btn.btn-outline-dark.playback');
        var selected_tc = $('#testcase option:selected').text();
        selected_tc=selected_tc.replace(/\s/gi, "");
            var postdata = {
                'selected_tc':selected_tc
            }
        $.ajax({
          type: 'POST',
          url: '{{url_for("Test")}}',
          data: JSON.stringify(postdata),
          dataType : 'JSON',
          contentType: "application/json",
          success: function(data){
                },
                error: function(request, status, error){
                    alert(error);
                }
            })

        })
    </script>
  </body>
</html>